In [1]:
%%sql

SHOW DATABASES

24/07/07 16:08:42 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-----------+
| namespace |
+-----------+
|    orders |
+-----------+

In [2]:
%%sql

SHOW TABLES FROM orders

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
|    orders |  payments |       False |
+-----------+-----------+-------------+

In [3]:
%%sql

SHOW TBLPROPERTIES orders.payments

+---------------------------------+-----------------+
|                             key |           value |
+---------------------------------+-----------------+
|             current-snapshot-id |            none |
|                          format | iceberg/parquet |
|                  format-version |               2 |
| write.parquet.compression-codec |            zstd |
+---------------------------------+-----------------+

In [4]:
%%sql

SELECT COUNT(*)
FROM orders.payments

+----------+
| count(1) |
+----------+
|        0 |
+----------+

In [5]:
%%sql

SELECT *
FROM orders.payments
LIMIT 10

+----+------+------------+----------+-------+--------+
| id | type | created_at | document | payer | amount |
+----+------+------------+----------+-------+--------+
+----+------+------------+----------+-------+--------+

In [6]:
%%sql

SELECT * 
FROM orders.payments.partitions
ORDER BY record_count DESC
LIMIT 10

+-----------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+-----------------+--------------------------+
| partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count | last_updated_at | last_updated_snapshot_id |
+-----------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+-----------------+--------------------------+
+-----------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+-----------------+--------------------------+